.force-planner {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
}

.budget-slider {
  margin: 20px 0;
}

.force-section {
  margin-bottom: 20px;
}

.force-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.force-title {
  cursor: pointer;
}

.force-header h2 {
  margin: 0;
}

.force-subheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.subtotal-budget {
  text-align: left;
  margin-left: 10px;
  font-size: 30px;
}

.group-actions {
  display: flex;
  align-items: center;
}

.num-items-input {
  width: 50px;
  padding: 4px 8px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-group-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.item {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.quantity-input,
.unit-cost-input {
  width: 100px;
  padding: 4px 8px;
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-name-input {
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  width: 200px;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.quantity-input:focus,
.unit-cost-input:focus,
.custom-name-input:focus,
.num-items-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart {
  width: 60%;
  min-width: 350px;
  margin-bottom: 20px;
  overflow: visible;
}

.chart h3 {
  text-align: center;
}
